.section {
  padding: 80px 0;
  margin:  0;

  &.light {
      background-color: #e8e8e8;
  }

  &.dark {
    background-color: #565854;
    color: #FFF;
  }
  &.super-dark {
    background-color: #353535;
    color: #FFF;
  }

  &.red {
    background-color: $red-new;
    color: $white;
  }

  &.blue {
    background-color: $aqua;
    color: $navy;
  }
  &.yellow {
    background-color: $marigold;
    color: $navy;
  }

  .img-fluid {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    @media only screen and (min-width: $screen-sm) {
      max-width: none;
      padding: 0;
    }
  }
}

.bg-section {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  position: relative;
  padding: 0;
  min-height: auto;
  padding: 30px 0;
  @media only screen and (min-width: $screen-md) {
    padding: 70px 0;
    min-height: 500px;
  }
}

.bg-r {
  background-position: 62% center;
}

.bg-c {
  background-position: center center;
}

.l-bg {
    background-color: transparent;
    @media only screen and (min-width: $screen-md) {
      background-color: #e8e8e8;
    }
}

.d-bg {
  background-color: #565854;
  color: #FFF;
}

.light {
  background-color: lighten($gray, 70%);
  @media only screen and (min-width: $screen-md) {
    background-image: url(../images/light-bg.jpg);
  }

}

.post {
  margin-top: 10px;
  margin-bottom: 40px;

  @media only screen and (min-width: $screen-md) {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  h3 {
    font-size: $font-size-title - 4px;
    line-height: 1.2;
    @media only screen and (min-width:  $screen-md) {
      font-size: $font-size-title;
    }
  }

  img {
    margin: 20px 0;
    @media only screen and (min-width:  $screen-lg) {
      margin: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

}

.whatis {
  text-align: center;
  @media only screen and (min-width:  $screen-md) {
    text-align: left;
  }
}


.moving-up {
  h4 {
    @media only screen and (min-width:  $screen-md) {
      min-height: 40px;
    }
  }
}

.how-much {
  margin: 0;
  text-align: center;
  padding: 20px 0;
  margin: auto;

  @media only screen and (min-width:  $screen-lg) {
    padding: 50px;
  }

  h2 {
    font-size: 42px;
    text-align: center;
    margin: 0 auto 15px;

    @media only screen and (min-width:  $screen-sm) {
      font-size: 52px;
      text-align: left;
    }

  }
  ol {
    text-align: left;
    margin: auto;
    font-size: 18px;
    font-family:'nexa heavy';

    @media only screen and (min-width:  $screen-sm) {
      font-size: 24px;
    }
  }
}

.easy {
  color: $navy;
  padding: 100px 0;
}

.easy, .echo {
  text-align: left;
  .container {
    // display:flex;
    // align-items: center;
  }

  h2 {
    font-size: 46px;
    font-family: "nexa heavy"
  }
  p {
    font-size: 18px;
    font-family: "nexa xbold";
    margin: 0;
  }
}

.echo {
  padding-top: 0;

  h3 {
    line-height: 1.3;
    font-family: "nexa heavy";
    color: $navy;
  }


}

.more {
  color: $white;
  text-align: center;
  h3 {
    font-family: "nexa heavy";
    font-size: 38px;
  }
  .semi {
    color: $navy;
    font-size: 24px;
  }
  img {
    width: 100px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
  }
  h4 {
    color: $white;
    font-size: 30px;
  }
  p {
    color: $white;
    font-family: "nexa bold";
    line-height: 1.2;
  }
}

.legal {
  p {
    font-size: 11px;
  }
}

.phone {
  .container {
    // display:flex;
    // align-items: center;
    @media only screen and (min-width: $screen-sm) {
      padding: 80px 0 10px;
    }

    // img {
    //   margin-right: 30px;
    //   max-width: 100%;
    // }
  }
  h3 {
    font-family: "nexa heavy";
    color: $navy;
  }
  ol {
    font-family: "nexa xbold";
    margin: 40px 0;
    font-size: 17px;
  }
  h4 {
    font-size: 30px;

    font-family: "nexa heavy";
  }
  .img-fluid {
    display: block;
    max-width: 70%;
    margin: auto;
    padding: 20px;
    @media only screen and (min-width: $screen-sm) {
      max-width: none;
      padding: 0;
    }
  }
}
