<main class="home">
    ${require('./hero-banner.html')}

    <section class="section red how-much">
      <div class="container ">
        <div class="row vertical-align">
          <div class="col-sm-6">
            <h2>How much more? </h2>
            <!-- <h2>Our best offer <span class="tab-headline">  ever includes:</span> </h2> -->
          </div>
          <div class="col-sm-6">
            <ol>
              <li>Brand new Frontier internet service</li>
              <li>A <span class="number-heavy">2</span>-year price guarantee</li>
              <li>No contract to sign</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="section easy">
      <div class="container ">
        <div class="row vertical-align">
          <div class="col-sm-4 col-md-3 col-lg-3">
            <img src="../images/wifi.svg" class="img-fluid" alt="phone icon">
          </div>
          <div class="col-sm-offset-0 col-sm-8 col-sm-offset-0 col-md-9 col-lg-offset-1 col-lg-8">
            <div class="">
              <h2>It’s easy to sign up for our best offer ever! </h2>
              <p>Add a new Internet plan to qualifying Frontier Voice service and enjoy a great guaranteed price on service for two years</p>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="section echo">
      <div class="container">
        <div class="row vertical-align">
          <div class="col-sm-8 col-md-9 col-lg-8">
            <div>
              <h3>Choose a 2-year term and get  FREE installation and a FREE Amazon Echo Dot® *</h3>
              <p>This small, hands-free, voice-controlled device has thousands of skills and features. Just say “Alexa” and your Amazon Echo Dot will play music, control smart home devices, make calls, control your TV, send and receive messages, provide information, read the news, set alarms, read audiobooks, and more.</p>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-offset-1 col-lg-4">
            <img src="../images/echo.svg" class="img-fluid" alt="Amazon Echo">
          </div>
        </div>



      </div>

    </section>

    <section class="section blue more">
      <div class="container">
        <h3>Here’s what Frontier Internet means for you</h3>
        <p class="semi">New plans with max internet speeds as fast as <span class="number-heavy">115</span> Mbps may be available. Now that’s fast!</p>
        <div class="col-sm-4">
          <img src="../images/connect.svg" alt="">
          <h4>Connect more</h4>
          <p>Email. Post to social media. No data caps or overage fees.** </p>
        </div>
        <div class="col-sm-4">
          <img src="../images/do-more.svg" alt="">
          <h4>Do more</h4>
          <p>Shop online. Watch videos. Play games. Stay current with news.</p>
        </div>
        <div class="col-sm-4">
          <img src="../images/get-more.svg" alt="">
          <h4>Get more</h4>
          <p><span class="number-heavy">2</span>-year price guarantee. <span class="number-heavy">24/7</span> customer service.</p>
        </div>
      </div>
    </section>

    <section class=" phone">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-3">
            <img src="../images/phone.svg" class="img-fluid" alt="">
          </div>
          <div class="col-sm-offset-0 col-sm-8 col-sm-offset-0 col-md-9 col-lg-offset-1 col-lg-8">
            <h3>Just 3 steps to add online to your phone line. We’ll guide you the whole way.</h3>
            <ol>
              <li>We’ll make sure you have either our qualifying Digital Phone Unlimited or Freedom Essentials Voice service to start.</li>
              <li>Then we’ll add on your new internet service.</li>
              <li>Together, we’ll choose the internet speed that’s right for your needs.</li>
            </ol>
            <h4>That’s it!</h4>
          </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <h3>New plans with max speeds as fast as 115 Mbps may be available***</h3>
        <a class="call text-center" href="tel:18552485759">Call 1.855.248.5759 today!</a>
      </div>
    </section>

    ${require('./offers.html')}

    <section class="mb-50">
        <div class="container legal">
          <p>*Amazon Echo Dot offer requires a two-year term agreement and maximum $120 Frontier early termination fee on new offers including Internet.</p>
          <p>**Other terms and conditions apply, including Frontier’s Acceptable Use Policy and Network Management Policy, and are subject to change without notice.</p>

          <p>***Higher Internet speeds available in select areas for an additional monthly fee.</p>
          <p>Limited-time offer for new residential Internet customers. Offer not valid in select areas of CT, NC, SC, MN, IL, OH, NY. Call 800.921.8101 to check promotion availability for your address. Must subscribe to new High-Speed Internet
          with maximum speed range of 6 Mbps to 12 Mbps download and qualifying Voice. If customer cancels one of the required bundled services during promotion, all promotional rates are void. After 24-month promotional
          period, promotional discount will end and the then-current everyday monthly price will apply to Internet and voice services and equipment. Cannot be combined with other promotional offers on the same services. Installation ($75),
          Broadband router fee ($10/mo.), taxes, governmental surcharges, and fees, including Internet Infrastructure Surcharge ($1.99/mo.) and other applicable charges extra, and subject to change during and after the promotional period.
          Service speed is not guaranteed and will depend on many factors. Maximum service speed is not available to all locations and service may not be available at certain speeds at your location. Your ability to stream may be limited by
          speeds available in your area. Service and promotion subject to availability. A $9.99 equipment delivery/handling fee applies. A $9.99 broadband processing fee upon disconnection of service applies. Frontier reserves the right to
          withdraw this offer at any time. Other restrictions apply. Subject to Frontier’s fair use policy and terms of service. Amazon Echo Dot offer: A two-year agreement with maximum $120 Frontier early termination fee applies to new Internet
          and qualifying voice services with Amazon Echo Dot offer. If customer cancels one of the required services during the two-year promotional period, all promotional rates are void and Frontier early termination fee will apply. The
          Amazon Echo Dot is given away by Frontier Communications. Amazon is not a sponsor of this promotion. Amazon, Echo, Alexa, and all related logos are trademarks of Amazon.com, Inc. or its affiliates.
          ©2018 Frontier Communications Corporation.</p>



        </div>

    </section>


</main>
